


<h1>About Us</h1>
<p>Currently live in Colorado. My daughter was just traveling with her<br>
High School Band to New York and she feel in love with NYC - especially the buildings and the people. I said, you know I grew up in Queens and went to
A&D. <BR>It did not impress her much. I'm new to Rails and I'm working on my first rails Photo/Video Upload
unless I change my mind and do something else.</p>

