


<!--you can write ruby code in here replace these with rails way ofwriting links -->
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Google", "http://google.com" %>
